{% load static %}
<!--Items-->
<div id="items" class="container">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-6 pb-5">
            <div class="card" data-aos="flip-left" data-aos-delay="150">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/5.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/6.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/7.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="contentDescription">
                    <div class="titleDescription">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="description">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Area:</li>
                                <li class="list-group-item">Precio:</li>
                                <li class="list-group-item">Ubicacion:</li>
                                <li class="list-group-item text-center mt-1">
                                    <a href="#" class="bi bi-whatsapp text-success" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-facebook text-primary pr-2" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-geo-alt text-danger" style="font-size: 2rem;"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 pb-5">
            <div class="card" data-aos="flip-left" data-aos-delay="150">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/5.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/6.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/7.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="contentDescription">
                    <div class="titleDescription">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="description">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Area:</li>
                                <li class="list-group-item">Precio:</li>
                                <li class="list-group-item">Ubicacion:</li>
                                <li class="list-group-item text-center mt-1">
                                    <a href="#" class="bi bi-whatsapp text-success" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-facebook text-primary" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-geo-alt text-danger" style="font-size: 2rem;"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 pb-5">
            <div class="card" data-aos="flip-left" data-aos-delay="150">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/5.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/6.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/7.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="contentDescription">
                    <div class="titleDescription">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="description">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Area:</li>
                                <li class="list-group-item">Precio:</li>
                                <li class="list-group-item">Ubicacion:</li>
                                <li class="list-group-item text-center mt-1">
                                    <a href="#" class="bi bi-whatsapp text-success" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-facebook text-primary" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-geo-alt text-danger" style="font-size: 2rem;"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 pb-5">
            <div class="card" data-aos="flip-left" data-aos-delay="150">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/5.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/6.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/7.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="contentDescription">
                    <div class="titleDescription">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="description">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Area:</li>
                                <li class="list-group-item">Precio:</li>
                                <li class="list-group-item">Ubicacion:</li>
                                <li class="list-group-item text-center mt-1">
                                    <a href="#" class="bi bi-whatsapp text-success" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-facebook text-primary" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-geo-alt text-danger" style="font-size: 2rem;"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 pb-5">
            <div class="card" data-aos="flip-left" data-aos-delay="150">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/5.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/6.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/7.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="contentDescription">
                    <div class="titleDescription">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="description">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Area:</li>
                                <li class="list-group-item">Precio:</li>
                                <li class="list-group-item">Ubicacion:</li>
                                <li class="list-group-item text-center mt-1">
                                    <a href="#" class="bi bi-whatsapp text-success" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-facebook text-primary" style="font-size: 2rem; margin-right: 30px;"></a>
                                    <a href="#" class="bi bi-geo-alt text-danger" style="font-size: 2rem;"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>